<!doctype html>
<html lang="ar">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recommend</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css">
  </head>
  <body>
    <div class="container text-center min-vh-100 min-vw-100 position-relative">
        <div class="w-50 container text-center position-absolute top-50 start-50 translate-middle">
            <p style="margin-bottom: 150px">Welcome to my Recommendation Website: <br><a href="https://github.com/EmadMahmoud/Arabic-Movie-Recommender.git">Github Repo</a></p>
            <form action="/entername">
              <div class="col-12 mt-3">
                <button type="submit" value="Submit">أقترح</button>
              </div>
            </form>
        </div>
        <div class="w-50 container position-absolute bottom-0 start-50 translate-bottom" style="text-align: end; color: rgba(215, 215, 215, 0.5)">
            <h2>:أعضاء المشروع</h2>
            <ul>
                <li>عماد محمود</li>
                <li>علي علاء</li>
                <li>عمر شريف</li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>

  <style>

  </style>
</html>